@{
    ViewBag.Title = "About - 15 years of professional software experience | DiToMi";
    ViewBag.Description = "We have more than 15 years of professional software experience. Through multiple jobs and customers, we master a large range of competences.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>About</h1>
    <div class="row">
        <div class="col-xs-4">
            <img src="~/Content/images/Thomas-Ardal.jpg" />
        </div>
        <div class="col-xs-8">
            <p>DiToMi was founded in 2010 by <a href="https://dk.linkedin.com/in/thomasardal">Thomas Ardal</a> while working at a consultancy firm. Thomas has more than @((int)Math.Floor((DateTime.Now - new DateTime(2001, 12, 1)).TotalDays/365)) years of experience as a software developer and architect. In 2014 Thomas decided to dedicate full time to the firm and quit his job at eBay.
            </p>
            <p>Our love for developing software, makes us a great choice for developing great quality software and world class training.</p>
            <p>
                Customers:<br/>
                <div class="row text-center">
                    <div class="col-xs-4"><img src="~/Content/images/dongenergy-logo.png" alt="DONG Energy" title="DONG Energy" /></div>
                    <div class="col-xs-4"><img src="~/Content/images/tradono.png" alt="Tradono" title="Tradono" /></div>
                    <div class="col-xs-4"><img src="~/Content/images/mjolner.png" alt="Praxis" title="Mjølner" /></div>
                </div>
                <br/>
                <div class="row text-center">
                    <div class="col-xs-7"><img src="~/Content/images/trifork.png" alt="Trifork" title="Trifork" /></div>
                    <div class="col-xs-5"><img src="~/Content/images/priceshare.png" alt="PriceShare" title="PriceShare" /></div>
                </div>
                <br />
                <div class="row text-center">
                    <div class="col-xs-2 col-xs-offset-1"><img src="~/Content/images/praxis.png" alt="Praxis" title="Praxis" /></div>
                    <div class="col-xs-2"><img src="~/Content/images/xena.jpg" alt="Xena" title="Xena" /></div>
                    <div class="col-xs-2"><img src="~/Content/images/nltwicelogo.png" alt="NLTwice" title="NLTwice" /></div>
                    <div class="col-xs-2"><img src="~/Content/images/elitemedia.png" alt="Elitemedia" title="Elitemedia" /></div>
                    <div class="col-xs-2"><img src="~/Content/images/novasoft.png" alt="Novasoft" title="Novasoft" /></div>
                </div>
            </p>
            <p>
                @Html.Partial("_CoreCompetences")
            </p>
        </div>
    </div>
</div>
