@{
    ViewBag.Title = "Agile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <span class="label pull-right" style="margin-right: 10px;"><a href="/agile" style="color: white;"><span class="fa fa-tag"></span> Agile</a></span>
    </div>
</div>
<div class="jumbotron">
    <h1>Agile</h1>
    <p>Everyone talks about agile. In order to introduce an agile process in your team, you need more than a two-day training course.</p>
    <div class="row">
        <div class="col-sm-12">
            <div class="thumbnail">
                <div class="caption">
                    <h3>Consultants</h3>
                    <p>
                        <small>We have been working with agile methodologies since the early days of Scrum. We've both seen and helped implementing Scrum and Kanban in multiple companies. Having a decade worth of agile experience tells us, that you won't implement agile processes by attending a two-day course. <a href="/contact">Contact</a> us for help implementing Scrum or Kanban by our founder or one of our attached agile experts.</small>
                    </p>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>
