@{
    ViewBag.Title = "Architecture";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <span class="label pull-right" style="margin-right: 10px;"><a href="/architecture" style="color: white;"><span class="fa fa-tag"></span> Architecture</a></span>
    </div>
</div>
<div class="jumbotron">
    <h1>Architecture</h1>
    <p>Focusing on having the right architecture ensures that you build a system that's still valid and extensible years from now.</p>
    <div class="row">
        <div class="col-sm-12">
            <div class="thumbnail">
                <div class="caption">
                    <h3>Consultants</h3>
                    <p>
                        <small>Our founder has more than 14 years of experience building large IT systems with awesome architectures. In the recent years, Thomas worked as an architect at eBay. Having worked with some of Denmarks most popular websites definitely provided some skills and lessons learned essential to any project. <a href="/contact">Contact</a> us for more information.</small>
                    </p>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>
