@{
    ViewBag.Title = "Microsoft Azure - Let us help your business into the cloud | DiToMi";
    ViewBag.Description = "Combining consultant work with 5 years experience hosting SaaS products on Microsoft Azure, makes DiToMi the perfect partner when moving to the cloud.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <span class="label pull-right" style="margin-right: 10px;"><a href="/microsoftazure" style="color: white;"><span class="fa fa-tag"></span> Microsoft Azure</a></span>
    </div>
</div>
<div class="jumbotron">
    <h1>Microsoft Azure</h1>
    <p>The cloud computing product Microsoft Azure is a great platform for building, deploying and managing everything from client applications to server-side heavy infrastructure.</p>
    <div class="row">
        <div class="col-sm-12">
            <div class="thumbnail">
                <div class="caption">
                    <h3>Consultants</h3>
                    <p>
                        <small>We have been working with Microsoft Azure from the early betas. From the first time trying Azure, we have been in love with this mighty platform. During consultant jobs, we have gained great knowledge about the various options on Microsoft Azure. Besides doing consultant work, we build and maintain multiple SaaS products, all hosted on Azure. Our founder is a Microsoft Most Valueable Professional (MVP) and constantly follow the progress from the internals of Microsoft. Get in <a href="/contact">contact</a> if you want to talk. We love talking about Microsoft Azure.</small>
                    </p>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>
