
@{
    ViewBag.Title = "Consultants";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>Consultants</h1>
    <p>Consultancy is one of our core business areas. We specialize in .NET, web and mobile applications. The founder of DiToMi has more than 14 years of experience as a professional software developer and architect.</p>
    <p>Besides the founder, DiToMi have a large network of the most talented developers. Don't hesitate to <a href="/contact">contact</a> us, if you are looking for the best developers in the field.
    </p>
    @Html.Partial("_CoreCompetences")
</div>
