
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>Contact</h1>
    <p>
        DiToMi ApS<br />
        Jens Martin Knudsens vej 14<br />
        8670 Laasby<br />
        Denmark<br />
        Telephone: 28345269<br />
        Email: <a href="mailto:info@ditomi.dk">info@ditomi.dk</a>
    </p>
    <p>
        Bank: Danske Bank<br />
        Account no: 3409 - 11498078
    </p>
</div>
