@{
    ViewBag.Title = ".NET and C#";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>.NET and C#</h1>
    <div class="row">
        <div class="col-sm-6">
            <div class="thumbnail">
                <div class="caption">
                    <h3>Consultants</h3>
                    <p>
                        <small>We have more than 10 years of experience with .NET and C#. During the development of the .NET framework, we have tried out nearly every framework that Microsoft have put out there from WinForms and Web Services, over WPF, WCF and Silverlight to modern technologies like ASP.NET MVC/Web API and Windows Phone.</small>
                    </p>
                    <p>
                        <small>Besides programming in .NET, we offer a range of training courses all focused around .NET and C#. Don't hesitate to contact us for a talk about the possibilities to arrange training for your company in other technologies and frameworks.</small>
                    </p>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="thumbnail">
                <div class="caption">
                    <h3>Training</h3>
                    <p>Our current .NET and C# training offers:</p>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Days</th>
                            </tr>
                        </thead>
                        <tr>
                            <td>Full Text Search with Elasticsearch and .NET</td>
                            <td>2</td>
                            <td><a href="/training/elasticsearch" class="btn btn-primary">More</a></td>
                        </tr>
                        <tr>
                            <td>Logging in .NET</td>
                            <td>1</td>
                            <td><a href="/training/logging" class="btn btn-primary">More</a></td>
                        </tr>
                        <tr>
                            <td>Unit Testing in .NET</td>
                            <td>1</td>
                            <td><a href="/training/unittesting" class="btn btn-primary">More</a></td>
                        </tr>
                    </table>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="thumbnail">
                <div class="caption">
                    <h3>Contact</h3>
                    <p><a href="/contact">Contact</a> us for more information.</p>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>
