@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" media="screen" href="~/Content/bootstrap.min.css" />
    <title>DiToMi</title>
</head>
<body>
    <div class="container">

        <!-- Main hero unit for a primary marketing message or call to action -->
        <div class="row" style="text-align: center; margin-top: 50px;">
            <img src="~/Content/images/ditomi.png" alt="DiToMi" />
        </div>

        <!-- Example row of columns -->
        <div class="row" style="margin-top: 50px;">
            <div class="col-xs-6 col-md-4 col-lg-4">
                <h2>Websites</h2>
                <p>
                    <a href="https://elmah.io"><img src="~/Content/images/elmahio.png" title="elmah.io" alt="elmah.io"/></a>
                </p>
            </div>
            <div class="col-xs-6 col-md-4 col-lg-4">
                <h2>Consulting</h2>
                <p>
                    <a href="http://www.linkedin.com/in/thomasardal"><img src="~/Content/images/linkedin.jpg" title="LinkedIn" alt="LinkedIn" /></a>
                </p>
            </div>
            <div class="col-xs-6 col-md-4 col-lg-4">
                <h2>Contact</h2>
                <p>
                    DiToMi ApS<br />
                    Jens Martin Knudsens vej 14<br />
                    8670 Låsby<br />
                    Denmark<br />
                    Tlf: 28345269<br />
                    Email: <a href="mailto:thomasardal@gmail.com">thomasardal@gmail.com</a>
                </p>
            </div>
        </div>
    
    <hr/>

        <footer>
            <p>&copy; DiToMi 2010-@DateTime.Today.Year</p>
        </footer>

    </div> <!-- /container -->
</body>
</html>
