@{
    ViewBag.Title = "DiToMi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br/><br/>
<div class="row">
    <img class="center-block img-responsive" src="~/Content/images/logo_large.png" alt="DiToMi logo" />
</div>
<br/><br/>
<div class="row">
    <div class="col-sm-3">
        <div class="thumbnail">
            <div class="caption">
                <h3>About Us</h3>
                <p>We are a small software company located in Denmark. We primarily work as consultants, trainers and develop our own suite of products.</p>
                <p><a href="/about" class="btn btn-primary pull-right" role="button">More</a></p>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="thumbnail">
            <div class="caption">
                <h3>Consultants</h3>
                <p>The founder of DiToMi has more than 14 years of experience as a professional software developer and architect.</p>
                <p><a href="/consultants" class="btn btn-primary pull-right" role="button">More</a></p>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="thumbnail">
            <div class="caption">
                <h3>Training</h3>
                <p>We specialize in customized training with key technologies. Check out our training catalog or ask us for something tailored.</p>
                <p><a href="/training" class="btn btn-primary pull-right" role="button">More</a></p>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="thumbnail">
            <div class="caption">
                <h3>Products</h3>
                <p>We love developing products helping other developers and startups. Click More to check out all of our innovative solutions.</p>
                <p><a href="products" class="btn btn-primary pull-right" role="button">More</a></p>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
