@{
    ViewBag.Title = "DiToMi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br/><br/>
<div class="row">
    <img class="center-block" src="~/Content/images/logo_large.png" />
</div>
<br/><br/>
<div class="row">
    <div class="col-sm-3">
        <div class="thumbnail">
            <div class="caption">
                <h3>About Us</h3>
                <p>Cloud logging for .NET web applications using ELMAH. Powerful search, Business rules, Visual Studio integration, API and much more.</p>
                <p><a href="https://elmah.io/" class="btn btn-primary pull-right" role="button">More</a></p>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="thumbnail">
            <div class="caption">
                <h3>Consultants</h3>
                <p>Fully functional NuGet Server installed using a Wizard and hosted as a Windows Service. Host your own packages inside your company network.</p>
                <p><a href="http://nugetserver.net/" class="btn btn-primary pull-right" role="button">More</a></p>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="thumbnail">
            <div class="caption">
                <h3>Training</h3>
                <p>Fully functional NuGet Server installed using a Wizard and hosted as a Windows Service. Host your own packages inside your company network.</p>
                <p><a href="http://nugetserver.net/" class="btn btn-primary pull-right" role="button">More</a></p>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="thumbnail">
            <div class="caption">
                <h3>Products</h3>
                <p>Fully functional NuGet Server installed using a Wizard and hosted as a Windows Service. Host your own packages inside your company network.</p>
                <p><a href="http://nugetserver.net/" class="btn btn-primary pull-right" role="button">More</a></p>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    @*<div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="~/Content/images/hippovalidator.png" alt="...">
                <div class="caption">
                    <h3>Hippo Validator</h3>
                    <p>Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem</p>
                    <p><a href="#" class="btn btn-primary pull-right" role="button">Se mere</a></p>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>*@
</div>
