@{
    ViewBag.Title = "DiToMi - Experts in Elasticsearch, Microsoft Azure and .NET | DiToMi";
    ViewBag.Description = "With DiToMi, you get access to some of the best consultants in Denmark. We support a broad palette of technologies and agile methodologies.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br/><br/>
<div class="row">
    <img class="center-block img-responsive" src="~/Content/images/logo_large.png" alt="DiToMi logo" />
</div>
<br/><br/>
<div class="row">
    <div class="col-sm-3">
        <div class="thumbnail">
            <div class="caption">
                <h3>About Us</h3>
                <p>We are a small software company located in Denmark. We primarily work as consultants, trainers and develop our own suite of products.</p>
                <p><a href="/about" class="btn btn-primary pull-right" role="button">More</a></p>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="thumbnail">
            <div class="caption">
                <h3>Consultants</h3>
                <p>The founder of DiToMi has more than @((int)Math.Floor((DateTime.Now - new DateTime(2001, 12, 1)).TotalDays / 365)) years of experience as a professional software developer and architect.</p>
                <p><a href="/consultants" class="btn btn-primary pull-right" role="button">More</a></p>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="thumbnail">
            <div class="caption">
                <h3>Training</h3>
                <p>We specialize in customized training with key technologies. Check out our training catalog or ask us for something tailored.</p>
                <p><a href="/training" class="btn btn-primary pull-right" role="button">More</a></p>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="thumbnail">
            <div class="caption">
                <h3>Blog</h3>
                <p>Follow some of the technical things we are working with as well as more about our founder at the company blog.</p>
                <p><a href="http://thomasardal.com" class="btn btn-primary pull-right" role="button">More</a></p>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
