@{
    ViewBag.Title = "Logging kursus - Logging in .NET with Serilog and Elasticsearch";
    ViewBag.Description = "Har du en lognings strategi eller er det 50 tekstfilter spredt over 17 servere? På kurset, vil du lære alt omkring god logging og hvordan man gør sin log brugbar.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <span class="label pull-right" style="margin-right: 10px;"><a href="/elasticsearch" style="color: white;"><span class="fa fa-tag"></span> Elasticsearch</a></span>
        <span class="label pull-right" style="margin-right: 10px;"><a href="/dotnetandcsharp" style="color: white;"><span class="fa fa-tag"></span> .NET and C#</a></span>
    </div>
</div>
<div class="jumbotron">
    <h2>Logging i .NET med Serilog og Elasticsearch</h2>
    <h3>Baggrund</h3>
    <small>Logging af alt fra diagnostiserings information til applikations fejl har være en essentiel del af alle programmeringssprog gennem tiderne. Vores applikationer logger mere og mere data, typisk i log filer på disken som er nærmest umulige at søge i og visualisere.</small>
    <h3>Kursusbeskrivelse</h3>
    <small>Kurset giver en god gennemgang af koncepterne bag logging af strukturerede data med Serilog og <a href="/elasticsearch">Elasticsearch</a>. Deltagerne vil ud over de forskellige muligheder i Serilog og Elasticsearch, blive præsenteret for værktøjet Kibana til at søge og visualisere log data.</small>
    <h3>Kursets mål</h3>
    <ul>
        <li>Logging med Serilog</li>
        <li>Elasticsearch som database for vores log</li>
        <li>Full text søgning i loggen</li>
        <li>Visualisering af loggen med Kibana</li>
    </ul>
    <h3>Agenda:</h3>
    <dl class="dl-horizontal">
        <dt><span class="label label-default">Teori</span></dt>
        <dd>Serilog - Hvad er Serilog og hvorfor adskiller den sig så meget fra log4net?</dd>
        <dt><span class="label label-default">Teori</span></dt>
        <dd>Logging - Vi logger vores første data fra en applikation taget fra virkeligheden</dd>
        <dt><span class="label label-info">Øvelse</span></dt>
        <dd>Deltagerne kobler logging på en demo applikation</dd>
        <dt><span class="label label-default">Teori</span></dt>
        <dd>Struktureret logging - Hvorfor er en log besked ikke bare en streng og hvordan bruges enrichers?</dd>
        <dt><span class="label label-info">Øvelse</span></dt>
        <dd>Deltagerne bygger videre på applikationen fra forrige øvelse</dd>
        <dt><span class="label label-default">Teori</span></dt>
        <dd>Elasticsearch som en sink - Vi ser på hvorfor Serilog og Elasticsearch passer perfekt sammen</dd>
        <dt><span class="label label-info">Øvelse</span></dt>
        <dd>Deltagerne installerer Elasticsearch og konfigurerer applikationen til at logge til Elasticsearch</dd>
        <dt><span class="label label-default">Teori</span></dt>
        <dd>Søgning og visualisering - Vi bruger Kibana til at søge og visualisere vores log</dd>
        <dt><span class="label label-info">Øvelse</span></dt>
        <dd>Deltagerne installerer Kibana og søge i deres egen log samt laver et dashboard til at visualisere log data</dd>
    </dl>
    <small>Afsluttende opsamling på oplevelserne i løbet af dagen, så næste dag evt. kan tilrettes hvis nogen har specielle ønsker.</small><br /><br />
    <small><strong>Varighed:</strong> 1 dag, fra 9.00 til 16.00</small><br /><br />
    <strong>Pris:</strong> 5.500,00 kr. pr. person ekskl. moms. inkl. kursusmaterialer og forplejning.<br /><br />
    <a href="/contact">Kontakt os</a> for at høre mere.
</div>