
@{
    ViewBag.Title = "Consultant";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>Training</h1>
    <p>Skriv noget om training</p>
    <div class="row">
        <div class="col-sm-6">
            <div class="thumbnail">
                <div class="caption">
                    <h3>Test-Driven Development</h3>
                    <p>Bla bla bla</p>
                    <p><a href="/training/testdrivendevelopment" class="btn btn-primary pull-right" role="button">More</a></p>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="thumbnail">
                <div class="caption">
                    <h3>Elasticsearch</h3>
                    <p>Bla bla bla</p>
                    <p><a href="/training/elasticsearch" class="btn btn-primary pull-right" role="button">More</a></p>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        @*<div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="~/Content/images/hippovalidator.png" alt="...">
                    <div class="caption">
                        <h3>Hippo Validator</h3>
                        <p>Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem</p>
                        <p><a href="#" class="btn btn-primary pull-right" role="button">Se mere</a></p>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>*@
    </div>
</div>
