
@{
    ViewBag.Title = "Training";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>Training</h1>
    <p>For more info about each course, click the <i>More</i> button. All courses are presented in danish.</p>
    <div class="row">
        <div class="col-sm-6">
            <div class="thumbnail">
                <div class="caption">
                    <h3>Full Text Search with Elasticsearch and .NET</h3>
                    <p>2 day course in the coolest full text search engine on the block: Elasticsearch.</p>
                    <p><a href="/training/elasticsearch" class="btn btn-primary pull-right" role="button">More</a>
                    </p>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="thumbnail">
                <div class="caption">
                    <h3>Unit Testing in .NET</h3>
                    <p>1 day course in the practice of writing good unit tests in .NET.</p>
                    <p><a href="/training/unittesting" class="btn btn-primary pull-right" role="button">More</a>
                    </p>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="thumbnail">
                <div class="caption">
                    <h3>Logging in .NET</h3>
                    <p>1 day course in logging, searching and visualizing structured data from .NET.</p>
                    <p><a href="/training/elasticsearch" class="btn btn-primary pull-right" role="button">More</a></p>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>

    </div>
</div>
