@{
    ViewBag.Title = "Kursus: Unit Testing i .NET";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <span class="label pull-right" style="margin-right: 10px;"><a href="/dotnetandcsharp" style="color: white;"><span class="fa fa-tag"></span> .NET and C#</a></span>
    </div>
</div>
<div class="jumbotron">
    <h2>Unit Testing i .NET</h2>
    <h3>Baggrund</h3>
    <small>Unit testing lyder måske ikke ligefrem som noget nyt, men det er desværre langt fra alle der har taget denne diciplin til sig. Best practices som continuous integration og continuous deployment er praktisk talt umulig at opnå, uden en god forståelse for at skrive unit tests.</small>
    <h3>Kursusbeskrivelse</h3>
    <small>Kurset giver en god gennemgang af koncepterne bag unit testing. Vi snakker om forskellige typer af tests, unit test coverage samt udskiftning af afhængigheder med et mocking framework. Til slut vil kursusdeltagerne få introduceret test-driven development (TDD), der får udviklingen af unit tests til at indgå som en naturlig del af det daglige arbejde som udvikler.</small>
    <h3>Kursets mål</h3>
    <ul>
        <li>Hvad er rigtige unit tests?</li>
        <li>Mocking af afhængigheder med et mocking framework</li>
        <li>Forskellige typer af code coverage</li>
        <li>Test-driven development</li>
        <li>Best practices</li>
    </ul>
    <h3>Agenda:</h3>
    <dl class="dl-horizontal">
        <dt><span class="label label-default">Teori</span></dt>
        <dd>Introduktion til unit testing - hvad er en unit test egentlig?</dd>
        <dt><span class="label label-default">Teori</span></dt>
        <dd>Unit testing frameworks og tools - NUnit og xUnit</dd>
        <dt><span class="label label-default">Teori</span></dt>
        <dd>Vi skriver vores første unit test af noget kode fra virkeligheden</dd>
        <dt><span class="label label-info">Øvelse</span></dt>
        <dd>Unit testing</dd>
        <dt><span class="label label-default">Teori</span></dt>
        <dd>Mocking - Afhængigheder kan erstattes af et mocking framework som Moq</dd>
        <dt><span class="label label-info">Øvelse</span></dt>
        <dd>Deltagerne bygger videre på testen fra forrige øvelse vha. Moq</dd>
        <dt><span class="label label-default">Teori</span></dt>
        <dd>Code coverage - er det ikke bare noget projektledere har hørt om på en konference?</dd>
        <dt><span class="label label-default">Teori</span></dt>
        <dd>TDD - det hele kan gå op i en højere enhed ved brug af TDD</dd>
        <dt><span class="label label-info">Øvelse</span></dt>
        <dd>Deltagerne udvikler en række unit tests ud fra processen om at skrive testen før implementationen</dd>
    </dl>
    <small>Afsluttende opsamling på oplevelserne i løbet af dagen, så næste dag evt. kan tilrettes hvis nogen har specielle ønsker.</small><br/><br/>
    <small><strong>Varighed:</strong> 1 dag, fra 9.00 til 16.00</small><br/><br/>
    <strong>Pris:</strong> 5.500,00 kr. pr. person ekskl. moms. inkl. kursusmaterialer og forplejning.<br /><br />
    <a href="/contact">Kontakt os</a> for at høre mere.
</div>