@{
    ViewBag.Title = "Web Development - Websites and APIs on steroids | DiToMi";
    ViewBag.Description = "Since the early days, we have built websites in .NET. Whether you need maintainance of a site or master cutting edge ASP.NET Core, we are here to help.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <span class="label pull-right" style="margin-right: 10px;"><a href="/webdevelopment" style="color: white;"><span class="fa fa-tag"></span> Web Development</a></span>
    </div>
</div>
<div class="jumbotron">
    <h1>Web Development</h1>
    <p>We specialize in Web Development primarily using .NET technologies.</p>
    <div class="row">
        <div class="col-sm-12">
            <div class="thumbnail">
                <div class="caption">
                    <h3>Consultants</h3>
                    <p>
                        <small>With more than 14 years of professional experience, we have seen and played with most web frameworks out there. From classic ASP and JSP to state of the art single-page applications. In the recent years we have focused entirely on writing great and maintainable web apps using ASP.NET MVC and Web API combined with fat clients written in Angular or Knockout using a lot of JavaScript and TypeScript. <a href="/contact">Contact</a> us for more information.</small>
                    </p>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>
