<p>Core competences:</p>
<p>
    <span class="label label-info"><a class="darklink" href="/elasticsearch">Elasticsearch</a></span>
    <span class="label label-info"><a class="darklink" href="/dotnetandcsharp">.NET and C#</a></span>
    <span class="label label-info"><a class="darklink" href="/microsoftazure">Microsoft Azure</a></span>
    <span class="label label-info"><a class="darklink" href="/webdevelopment">Web Development</a></span>
    <span class="label label-info"><a class="darklink" href="/architecture">Architecture</a></span>
    <span class="label label-info"><a class="darklink" href="/agile">Agile</a></span>
</p>