<p>Core competences:</p>
<p>
    <a href="/elasticsearch" class="btn btn-primary">Elasticsearch</a>
    <a href="/dotnetandcsharp" class="btn btn-primary">.NET and C#</a>
    <a href="#" class="btn btn-primary">Web Development</a>
    <a href="#" class="btn btn-primary">Architecture</a>
    <a href="#" class="btn btn-primary">Scrum and Kanban</a>
</p>