<p>Core competences:</p>
<p>
    <a href="/elasticsearch" class="btn btn-primary">Elasticsearch</a>
    <a href="/dotnetandcsharp" class="btn btn-primary">.NET and C#</a>
    <a href="/webdevelopment" class="btn btn-primary">Web Development</a>
    <a href="/architecture" class="btn btn-primary">Architecture</a>
    <a href="/agile" class="btn btn-primary">Agile</a>
</p>